/* @font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
} */

.finder__choice__card__float * {
    font-family:  DINPro;
}
.finder__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 400px;
}
.finder__container a {
    display: grid;
    justify-items: center;
}
.finder__choice__card{
    display: grid;
    position: relative;
    align-content: center;
    min-height: 460px;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
}
.finder__choice__card__float{
    position: absolute;
    top: 30%;
    left: 25px;
}
.finder__choice__card__float__banner{
    background-color: #00FE00;
    color: black;
    text-transform: uppercase;
    min-height: 80px;
    box-sizing: border-box;
    min-width: 162px;
    text-align: center;
}
.finder__choice__card__container__center{
    text-align: center;
}
.finder__choice__card__float__banner h4{
    margin-bottom: 0px;
    font-size: 60px;
}
.finder__choice__card__container{
    position: relative;
    transition: all 0.5s ease;
    grid-area: choiceImg;
}
.finder__choice__card__container img{
    width: 80%;
} 
.finder__choice__card__container:hover img{
    padding-bottom: 40px;
}
.finder__choice__card__container:hover .finder__choice__card__float__banner{
    background-color: black;
    color: white;
}

