/* @font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
}
 */
.btnSF{
    text-align: center;
    font-family: "DINPro";
    display: inline-block;
    text-transform: uppercase;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0px 10px;
}

@media only screen and (max-width: 1501px) and (min-width: 0px) {
    .btnSF{
        max-width: 100%;
    }
}
.primarySF{
    font-size: 20px;
    color: #000;
    background: #0f0;
    border: 1px solid #0f0;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
/* .primarySF:hover{
    color: #000;
    background: #0f0;
} */

.secondarySF{
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: #161615;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    width: 100%;
}
.secondarySF:hover{
    color: white;
    background-color: black;
}

.disabledSF{
    border: 1px solid #e8e8e8;
    background-color: #e8e8e8;
    font-size: 16px;
    color: #161615;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}


@media only screen and (max-width: 1150px) and (min-width: 0px) {
    .btnSF{
        padding: 0px 0px;
    }

}