.productMeta{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "imageMeta titleMeta sizeMeta"
        "imageMeta statsMeta sizeMeta"
        "imageMeta statsMeta sizeMeta"
        "imageMeta statsMeta sizeMeta"
        "imageMeta statsMeta sizeMeta"
        "imageMeta statsMeta sizeMeta"
        "genderMeta genderMeta genderMeta";
    grid-gap: 20px;
}
.productInfo__title{
    grid-area: titleMeta;
}
.productImageMeta{
    grid-area: imageMeta;
}
.sizePicker{
    grid-area: sizeMeta;
}
.productInfo__stats{
    grid-area: statsMeta;
}
.productMeta__size{
    grid-area: sizeMeta;
    margin-bottom: 40px;
}
/* .productGender{
    grid-area: genderMeta;
} */
.genderPicker{
    grid-area: genderMeta;
}
.genderPickerMobile{
    grid-area: genderMetaMobile;
    display: none;
}
.productButtons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
}

/* tablet */
/* @media (min-width: 768px) and (max-width: 1024px) {

    .productMeta{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            "titleMeta"
            "imageMeta"
            "imageMeta"
            "genderMeta"
            "statsMeta"
            "sizeMeta";
        grid-gap: 10px;
    }
} */
/* Mobile */

@media only screen and (max-width: 1650px) and (min-width: 1151px) {
    .productMeta{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "titleMeta titleMeta"
            "imageMeta imageMeta"
            "imageMeta imageMeta"
            "genderMeta genderMeta"
            "statsMeta sizeMeta";
        grid-gap: 10px;
    }
    .productInfo__title{
        text-align: center;
    }
    .genderPickerMobile{
        display: block;
    }
    .genderPicker{
        display: none;
    }
}

@media only screen and (max-width: 1150px) and (min-width: 800px) {
    .productMeta{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "titleMeta titleMeta"
            "imageMeta imageMeta"
            "imageMeta imageMeta"
            "genderMetaMobile genderMetaMobile"
            "statsMeta sizeMeta";
        grid-gap: 10px;
    }
    .productInfo__title{
        text-align: center;
    }
    .genderPickerMobile{
        display: block;
    }
    .genderPicker{
        display: none;
    }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
.productMeta{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "titleMeta titleMeta"
        "imageMeta imageMeta"
        "imageMeta imageMeta"
        "genderMetaMobile genderMetaMobile"
        "statsMeta sizeMeta";
    grid-gap: 10px;
}

.productInfo__title{
    text-align: center;
}
.genderPickerMobile{
    display: block;
}
.genderPicker{
    display: none;
}

}
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .productMeta{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            "titleMeta"
            "imageMeta"
            "imageMeta"
            "genderMetaMobile"
            "statsMeta" 
            "sizeMeta";
        grid-gap: 10px;
    }
    .productInfo__title{
        text-align: center;
    }
    .genderPickerMobile{
        display: block;
    }
    .genderPicker{
        display: none;
    }
}

@media only screen and (max-width: 1730px) and (min-width: 1650px) {
    .productMeta{
    grid-area: sizeMeta;
    margin-bottom: 0px;
}

.productMeta{
    grid-gap: 0px;
}
}

@media only screen and (max-width: 1150px) and (min-width: 0px) {
    .productInfo__title{
        grid-area: titleMeta;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
.productButtons{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px
}
}
