.gridx1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    min-height: 400px;
}
.gridx2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 400px;
}
.gridx3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 400px;
}
.gridx4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 400px;
}
.gridx5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    min-height: 400px;
}

/* tablet */
/* @media (min-width: 1150px) and (max-width: 1024px) {
    .gridx4{
        grid-template-columns: repeat(2, 1fr);
    }
    .gridx5{
        grid-template-columns: repeat(3, 1fr);
    }
} */
/* Mobile */
@media only screen and (max-width: 1150px) {
    .gridx2{
        grid-template-columns: repeat(1, 1fr);
    }
    .gridx3{
        grid-template-columns: repeat(1, 1fr);
    }
    .gridx4{
        grid-template-columns: repeat(1, 1fr);
    }
    .gridx5{
        grid-template-columns: repeat(1, 1fr);
    }
}
