.dontHaveYourSizeForm form{
    display: flex;
    flex-direction: column;
}
.dontHaveYourSizeForm__email{
    padding: 15px;
    border:1px solid #000;
    margin-bottom: 23px;
}
.dontHaveYourSizeForm__agree{
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #333;
    border: 3px solid white;
    width: 16px;
    height: 16px;
}
.agreeContainer p{
    font-size: 12px;
}
/* .dontHaveYourSizeForm input{
    height: 50px;
    border:1px solid #000;
} */
.dontHaveYourSizeForm .btnSF{
    text-align: center;
    font-family: "DINPro";
    display: inline-block;
    text-transform: uppercase;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0px 10px;
}
.dontHaveYourSizeForm .primarySF{
    font-size: 20px;
    color: #000;
    background: #0f0;
    border: 1px solid #000000;
    font-size: 18px;
    min-width: 200px;
    height: 50px;
    line-height: 50px;
}
/* .primarySF:hover{
    color: white;
    background-color: black;
} */
.agreeContainer{
    margin-bottom: 40px;
}
.dontHaveYourSizeForm .agreeContainer{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 28px;
    align-items: center;
}
.agreeContainer p{
    padding: 0px;
    margin: 0px;
}
.dontHaveYourSizeForm a{
    margin-bottom: 40px;
    font-size: 12px;
}