@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

/* @font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
} */


.sideNav * {
    font-family:  DINPro;
}
.sideNav__outer{
    background-color: rgba( 0, 0, 0, 0);
    height: 100%; 
    top: 0px; 
    right: 0px;
    position: fixed;
    width: 100%;
    z-index: 10;
    z-index: 100;
}
.sideNav{
    position: fixed;
    width: 30%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: black;
    /* z-index: 300; */
    color: white;
    padding: 20px;
    overflow: scroll;
}
.sideNav h3{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.sideNav p{
    font-size: 12px;
    margin-bottom: 20px;
}
.closeSideNav{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;      
    color: white;
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
    margin-bottom: 20px;
}
/* @media only screen and (max-width: 801px) and (min-width: 600px) {
   
} */


@media only screen and (max-width: 1150px) and (min-width: 0px) {
    .sideNav {
        width: 70%;
    }
}