/* @font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
} */

.productCard{
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 10px;
}
/* .productCard:hover{
    transform: scale(1.1);
    z-index: 10;
} */
.productCard img{
    width: 70%;
}
.productCard h4{
    font-family:  'DINPro';
    text-transform: uppercase;
    font-size: 0.8vw;
}

.productCard p{
    font-family:  'DINPro';
    text-transform: uppercase;
    font-size: 0.6vw;
}
.productCard .amount{
    font-size: 14px;
}
.productCard__image{
    grid-area: image;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
}
.productCard__title{
    grid-area: title;
}  
.productCard__rating{
    grid-area: rating;
}
.productCard__description{
    grid-area: description;
}
.productCard__color{
    grid-area: color;
}
.productCard__price{
    grid-area: price;
}
.knockedOut{
    opacity: 0.2;
}
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (max-width: 1150px) and (min-width: 0px) {
    .productCard{
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    .productCard__image{
        min-height: 164px;
    }
    .productCard h4{
        font-family:  'DINPro';
        text-transform: uppercase;
        font-size: 16px;
    }
    .productCard p{
        font-family:  'DINPro';
        text-transform: uppercase;
        font-size: 16px;
    }
}