/* @font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
}
 */
.productImageMeta{
 
    background-color: white;

    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.productImageMeta img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.salesSlug{
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-family: "DINPro";
    font-size: 12px;
    color: #161615;
    display: block;
    width: 200px;
    height: 22px;
    text-transform: uppercase;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 22px;
}

@media only screen and (max-width: 1150px) and (min-width: 0px) {
    .productImageMeta{
        margin-bottom: 25px;
    }
}