/* @font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
}
 */


.sizePicker * {
    font-family:  DINPro;
}
.sizePicker__table{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}
.sizePicker__table div:hover{
    background-color: black;
    color: white;
}
.sizePicker__links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
}
.sizePicker__links p{
    font-size: 12px;
    margin: 0 0 0px;
}
.sizePicker__links__left{
    text-align: end;
}
.sizePicker__table div{
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    height: 60px;
    transition: all .5s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -1px;
    margin-left: -1px;
    box-sizing: border-box;
}
.sizePicker__links__right p{
    cursor: pointer;
}
.sizePicker__links__left p{
    cursor: pointer;
}
.diagonalLine{
    background: linear-gradient(to top left, #fff calc(50% - 1px), #888888, #fff calc(50% + 1px));
}

.pressed{
    background-color: black;
    color: white;
}
/* .sizePicker__table div:hover{
    transform: scale(1.1);
} */


@media only screen and (max-width: 1150px) and (min-width: 0px) {
    .sizePicker {
        margin-bottom: 100px;
    }
}