/* 
@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
} */

.ActivitySelector * {
    font-family:  DINPro;
    text-transform: uppercase;
 

}
.ActivitySelector{
    background-color: #efefef;
    padding: 40px;
    position: sticky;
    top: 0px;
  /*   min-width: 400px;
    max-width: 440px; */
    /* min-height: 800px; */
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.ActivitySelector h2{
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.ActivitySelector h3{
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 47px;
}

.ActivitySelector h4{
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
}

.ActivitySelector p{
    text-transform: none;
    margin-bottom: 70px;
} 
.ActivitySelector__buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-bottom: 100px;
}
.secondaryFilterBack{
    background-color: white;
    border: 0px;
    padding: 13px 38px;
    font-size: 12px;
    text-align: center;
    min-width: 200px;
}
.ActivitySelector button{
    background-color: white;
    border: 0px;
    padding: 13px 38px;
    font-size: 12px;
    text-align: center;
}
.ActivitySelector button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.width75{
    width: 75%;
}
/* .ActivitySelector__introText{

}
 */

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .width75{
        width: 100%;
    }
} 

 /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (max-width: 1150px) and (min-width: 0px) {
    .ActivitySelector{
        background-color: #efefef;
        padding: 28px;
        position: sticky;
        top: 0px;
        min-width: 100%;
        max-width: 440px;
        /* min-height: 800px; */
        height: fit-content;
        width: 100%;
    }
    .ActivitySelector__buttons{
        grid-gap: 10px;
      
    }
    .ActivitySelector button{
        padding: 13px 10px;
    }
    .ActivitySelector__buttons{
        margin-bottom: 0px;
    }
}