@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

/* @font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
} */
.filterProducts{
    /* max-width: 740px; */
    background-color: #efefef;
    padding: 40px;
    position: sticky;
    top: 0px;
    height: 100vh;
    box-sizing: border-box;
   /*  min-width: 515px; */
   overflow: scroll;
/*    display: flex;
   flex-direction: column; */
}
.resetEverything{
    align-items: flex-end;
 /*    height: 100%; */
    display: flex;
    max-width: 200px;
    /* align-items: flex-end; */
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}
.filterProducts i{
    font-family: 'FontAwesome';
}
.filterProducts button{
    cursor: pointer;
}
.filterProducts * {
    font-family:  DINPro;
    text-transform: uppercase;
}
.filterProducts .fa-info-circle{
    cursor: pointer;
}
.filterProducts h2{
    font-size: 34px;
    margin-bottom: 30px;
}
.filterProducts h4{
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
}
.buttonArea{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 40px;
    justify-items: center;

}
.buttonArea__actions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
}
.filterProducts  .titleOption{
    position: relative;
}
.filterProducts .titleOption__label{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
}

.secondaryFilter {
    border: 1px solid #fff;
    background-color: white;
    color: #161615;
    font-size: 12px;
   /*  min-width: 200px; */
    height: 40px;
    line-height: 30px;
   /*  margin-right: 15px; */
  /*   margin-bottom: 15px; */
    width: 100%;
  /*   min-width: 100px; */
    transition: all .5s ease-in-out;
}
.secondaryFilter:hover{
    color: white;
    background-color: black;
    border: 1px solid black;
}


.btnFilter {
    text-align: center;
    font-family: "DINPro";
    display: inline-block;
    text-transform: uppercase;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0px 10px;
}
p.filterProducts__back {
    margin-bottom: 60px;
}
.filterProducts__back span{
    font-size: 12px;
    margin-left: 15px;
    cursor: pointer;
}
.selected{
    border: 1px solid #000000;
    background-color: #101010;
    font-size: 16px;
    color: white;
    /* min-width: 200px; */
    height: 40px;
    line-height: 30px;
    /* margin-right: 15px; */
    /* margin-bottom: 15px; */
    /* width: 140px; */
    width: 100%;
    transition: all .5s ease-in-out;
}
/* .notSelected{
    transition: all .5s ease-in-out;
    background-color: #ff0000;
    color: white;
    border: 1px solid #101010;
} */
button:disabled{
    border: 1px solid #f2f2f2;
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    background-color: #f2f2f2;
    font-size: 16px;
    /* min-width: 200px; */
    height: 40px;
    line-height: 30px;
    /* margin-right: 15px; */
    /* margin-bottom: 15px; */
    /* width: 140px; */
    min-width: 100%;
    transition: all .5s ease-in-out;
    cursor: not-allowed;
}

@media only screen and (max-width: 1675px) and (min-width: 1391px) {
    .buttonArea{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1390px) and (min-width: 1151px) {
    .buttonArea{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1150px) and (min-width: 601px) {
.buttonArea{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    font-size: 12px;
    justify-items: center;
}
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .buttonArea{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .filterProducts h2{
        font-size: 24px;
        margin-bottom: 30px;
    }
}

    
@media only screen and (max-width: 1150px) and (min-width: 0px) {
 
    .filterProducts{
        max-width: 100%;
        padding: 30px;
        height: fit-content;
    }
    .secondaryFilter{
        font-size: 12px;
       /*  margin-right: 10px; */
       /*  margin-bottom: 10px; */
    }
  /*   .buttonArea .btnSF{
        width: 100px;
    } */
    .secondarySF {
        border: 1px solid #000000;
        background-color: rgba(0, 0, 0, 0);
        font-size: 11px;
        color: #161615;
        min-width: 20px;
        height: 40px;
        line-height: 30px;
        margin-right:px;
        margin-bottom: 15px;
        width: 90%;
    }
    .selected{
        font-size: 12px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    button:disabled{
        font-size: 12px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .resetEverything {
        position: initial;
    }
    /* .buttonArea__actions{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    } */
}
