/* @font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
} */
.productInfo * {
    font-family:  DINPro;
}
.productInfo__title{
    grid-area: titleMeta;
}
.productInfo__price{
    font-size: 22px;
    margin: 0px;
    margin-bottom: 5px;
}
.productMeta h3{
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 5px;
}
.productInfo__stat h5{
    font-size: 0.8vw;
    margin-bottom: 5px;
    margin-top: 5px;
    text-transform: none;
    font-weight: 400;
}
.productInfo__bullets li {
    font-size: 12px;
}
.productInfo__colours{
    font-size: 12px;
}
.productInfo__stat{
    grid-area: statsMeta;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.productInfo__bullets{
    margin-bottom: 20px;
}
.productInfo__bullets ul li::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.productInfo__bullets li{
    text-decoration: none;
    list-style: none;
}
.productInfo__bullets .fa-check{
    margin-right: 10px;
}
.productInfo__stat__bar{
    height: 4px;
    background-color: #888888;
    width: 80%;
    margin-bottom: 5px;
}
.productInfo__stat__bar__percent{
    height: 4px;
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
.productMeta h3{
    font-size: 18px;
}
.productInfo__price{
    font-size: 18px;
}
}

@media only screen and (max-width: 1150px) and (min-width: 0px) {
    .productInfo__bullets{
        margin-bottom: 30px;
    }
  
    .productInfo__stat{
        margin-bottom: 50px;
    }
  
    .productInfo__stat{
        grid-area: statsMeta;
        display: grid;
   margin-bottom: 30px;
    }
    .productInfo__stat h5{
        font-size: 14px;
    }
}
