* {
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
    box-sizing: border-box;
}

/* @font-face {
    font-family:  DINPro;
    src: url('../fonts/DINPro-Medium.otf');
}


@font-face {
    font-family:  DINPro;
    src: url('../fonts/DINPro-Bold.otf');
    font-weight: bold;
} */

.mainContainer{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
        " filter filter filter filter product product product product product product";  
}
.mainContainerWhenProductActive{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
        "filter filter filter filter productAttributes productAttributes productAttributes productAttributes productAttributes productAttributes";  
}
.filterContainer{
    grid-area: filter;
    background-color: #FCFCFC;
}
.productContainer{
    grid-area: product;
    background-color: #FCFCFC;
}
.productContainer__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 74px 100px;
    grid-gap: 20px;
}
.productAttributesContainer{
    padding: 110px 50px;
    font-family:  DINPro;
    background-color: #FCFCFC;
    grid-area: productAttributes;
}
.productAttributesContainer h2{
    margin-bottom: 20px;
}
.activeProductHeader{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: baseline;
    margin-bottom: 20px;
}

.activeProductHeader button{
    width: 200px;
    height: 50px;
    justify-self: end;
    text-align: center;
}
.productAttributesContainer__mobile{
    padding: 40px 100px;
    font-family:  DINPro;
    display: none;
    width: 100%;
}
.productAttributesContainer__mobile__back p {
    cursor: pointer;
    text-transform: uppercase;
}

@media only screen and (max-width: 1400px) and (min-width: 801px) {
.productContainer__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
}

/* @media only screen and (max-width: 1024px) and (min-width: 1150px) {
    .productContainer__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    } */
    
/* @media only screen and (max-width: 1150px) and (min-width: 801px) {
    .productContainer__cards{
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 15px;
    }
} */

@media only screen and (max-width: 800px) and (min-width: 0px) {
    .productContainer__cards{
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 15px;
    }
}

.activeProductHeader h2{
    font-size: 24px;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
.activeProductHeader h2{
    font-size: 20px;
}
}
@media only screen and (max-width: 1860px) and (min-width: 1151px) {
    .productAttributesContainer{
        padding: 40px 20px;
    }
}

@media only screen and (max-width: 1150px) and (min-width: 0px) {
    .mainContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            "filter"
            "product";
    }
    .productAttributesContainer{
        display: none;
    }
    .productAttributesContainer__mobile__back p {
       font-size: 12px;
    }
    .productAttributesContainer__mobile{
        display: unset;
        background-color: #FCFCFC;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 20px 20px;
        box-sizing: border-box;
        z-index: 100;
    }
    .productAttributesContainer__mobile__back {
        text-align: center;
        position: fixed;
        width: 100%;
        background-color: white;
        top: 0px;
        left: 0px;
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .activeProductHeader{
        text-align: center;
        margin-top: 65px;
    }
}