@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

/* @font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
} */


.sideNavLeft * {
    font-family:  DINPro;
}
.sideNavLeft__outer{
    background-color: rgba( 0, 0, 0, 0);
    height: 100%; 
    top: 0px; 
    left: 0px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.sideNavLeft {
   /*  position: fixed; */
    width: 30%;
    height: 100%;
   /*  top: 0px;
    left: 0px; */
    background-color: black;
   
    color: white;
    padding: 20px;
    overflow: scroll;
}

.sideNavLeft h2{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sideNavLeft h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.sideNavLeft p{
    font-size: 12px;
    margin-bottom: 20px;
}
.closeSideNavLeft{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;      
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;

}
/* @media only screen and (max-width: 801px) and (min-width: 600px) {
   
} */


@media only screen and (max-width: 1150px) and (min-width: 0px) {
    .sideNavLeft {
        width: 70%;
    }
}