.table{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto, 1fr);

}
.tableRow{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(30px, 1fr));
}

.tableColumn{
    border: 1px black solid;
    margin-top: -1px;
    margin-left: -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
}
.tableColumn p{
    margin-top: 0px;
    margin-bottom: 0px;
}