/* @font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
}
 */
.genderPicker * {
    font-family:  DINPro;
}
.chosenSquare{
    border: 1px solid black;
}
.genderPicker {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
}
.genderPicker p{
    font-size: 12px;
}
.genderPicker__mens__colours__image {
    width: 60px;
    height: 60px;
    cursor: pointer;
    align-items: center;
    display: flex;
    background-color: white;
  /*   border: 1px solid #EFEFEF; */
    box-sizing: border-box;
    margin-bottom: 10px;
}
.genderPicker__mens__colours__image img{
    width: 100%;
}
.genderPicker__mens__colours{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.activeColour {
    border: 1px solid black;
}
.prefer h3{
    margin-bottom: 20px;
}

.genderPicker__mens p, 
.genderPicker__womens p{
    margin-bottom: 5px;
}
/* @media only screen and (max-width: 801px) and (min-width: 600px) {

   
} */


@media only screen and (max-width: 1150px) and (min-width: 0px) {
    .genderPicker {
        display: none;
        grid-template-columns: repeat(1, 1fr);
    }
    .genderPicker__mens__colours__image {
        margin-bottom: 0px;
    }
}