/* @font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
} */


.genderPickerMobile {
    display: none;
}

/* @media only screen and (max-width: 801px) and (min-width: 600px) {

   
} */


@media only screen and (max-width: 1150px) and (min-width: 0px) {
    
    .genderPickerMobile * {
        font-family:  DINPro;
    }
    .genderPickerMobile {
        display: grid!important;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30px;
    }
    .genderPickerMobile p{
        font-size: 12px;
    }
    .genderPicker__mens__colours__image {
        width: 100px;
        height: 100px;
        cursor: pointer;
        align-items: center;
        justify-self: center;
        display: flex;
    }
    .genderPicker__mens__colours__image img{
        width: 100%;
    }

    .genderPickerMobile__mens__colours{
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }
    .genderPickerMobile__tabs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin-bottom: 20px;
    }
    .genderPickerMobile__tabs__header{
        height: 40px;
        cursor: pointer;
    }
    .genderPickerMobile__tabs__header h4{
        text-transform: capitalize;
        font-weight: 400;
    }
    .activeTab{
        border-bottom: 1px solid black;
    }
    .activeColour {
        border: 1px solid black;
    }
}