/* @font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Medium.otf');
}

@font-face {
    font-family:  DINPro;
    src: url('../../fonts/DINPro-Bold.otf');
    font-weight: bold;
} */
.prefer * {
    font-family:  DINPro;
}
.prefer h3{
    text-transform: uppercase;
    font-size: 20px;

}
.prefer h4{
    font-size: 12px;
    text-transform: uppercase;
}
.recommendCard{
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
        "imageRec"
        "imageRec"
        "imageRec"
        "imageRec"
        "titleRec";
        align-content: center;
}

.prefer .recommendations img{
    width: 100%;
}
.recommendCard__image{
    grid-area: imageRec;
    height: 200px;
    width: 200px; 
    background-color: white;
    display: flex;
   
    align-items: center;
  
    justify-self: center;
    margin-bottom: 10px;
}
.recommendCard__title{
    grid-area: titleRec;
}
.recommendations{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

/* @media only screen and (max-width: 801px) and (min-width: 600px) {
    .recommendations{
        grid-template-columns: repeat(2, 1fr);
    }
} */
@media only screen and (max-width: 1150px) and (min-width: 801px) {
    .recommendations{
        grid-template-columns: repeat(3, 1fr);
    }
    .prefer .recommendations img{
        width: 100%;
    }
    .recommendCard__image{
        height: auto;
        width: 100%;
        justify-content: center;
    }
}
@media only screen and (max-width: 800px) and (min-width: 601px) {
    .recommendations{
        grid-template-columns: repeat(3, 1fr);
    }
    .prefer .recommendations img{
        height: 100%;
        width: 80%;
        object-fit: contain;
    }
    .recommendCard__image{
       /*  height: 200px;
        width: 335px; */
        justify-content: center;
    }
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .recommendations{
        grid-template-columns: repeat(1, 1fr);
    }
    .prefer .recommendations img{
        height: 100%;
        width: 80%;
        object-fit: contain;
    }
    .recommendCard__image{
         height: 200px;
        width: 335px; 
        justify-content: center;
    }

}
@media only screen and (max-width: 1150px) and (min-width: 0px) {
    .recommendCard{
        cursor: pointer;
        transition: all .2s ease-in-out;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            " imageRec imageRec "
            " imageRec imageRec "
            " imageRec imageRec "
            " imageRec imageRec "
            " titleRec titleRec ";
        align-content: center;
    }
    
    .prefer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .recommendCard__image{
        background-color: transparent;
    }
}